| {% extends "base.html" %}

| {% block title %}
title {{ user.first_name }} {{ user.last_name }}
| {% endblock %}

| {% block content %}
include blocks/header/header.pug
main.personalRoom
	.container
		.personalRoomDataContainer()
			h2.personalRoom__title Добро пожаловать в личный кабинет, {{ consultant.first_name }}!
			span  Ваша реферальная ссылка:
			input.personalRoom__refferalUrl#refferalUrl(
				onclick="this.select()", 
				type='url', 
				oninput='this.value = this.dataset.value', 
				data-value='{{ consultant.refferal_url }}' 
				value='{{ consultant.refferal_url }}'
			) 
| {% endblock %}