header#header.header.parent(
	itemscope,
    itemtype="https://schema.org/Organization"
)
	nav.navigation.parent.child#navigation(role="navigation")
		a#brand.brand(href="{% url 'index' %}")
			h1.brand__title(
				itemprop="name"
			) Oriflame
		ul.topNavigation.child.parent
			li.topNavigationItem.topNavigationItem_shop.child(
		   		role="presentation"
			)
				a.topNavigationItem__refer.not-follow(
				rel='notfollow',
				href="http://beautystore.oriflame.ru/502181"
				) 
					.imageContainer.imageContainer_shopping-bag
						figure.imageContainer__image.imageContainer__image_shopping-bag
					span.visible-hidden-smLess Интернет магазин
			li.topNavigationItem.topNavigationItem_registration.registrationButton.registrationButton_red.child(
			  	role="presentation"
		 		class="{% if active_page == 'registration' %}registrationButton_active{% endif %}"
			)
				a.topNavigationItem__refer.registrationButton__refer(
					href="{% url 'registration' %}", 
					class="{% if active_page == 'registration' %}topNavigationItem__refer_active{% endif %}"
				) Регистрация
		ul.contacts.child
			li.contactsItem(
				itemscope,
		    	itemtype="https://schema.org/ContactPoint"
			)
				span.contactsItem__label.visible-hidden-xs Email:&thinsp;
				a.contactsItem__refer(
			        href="mailto:{{ settings.email }}",
			        itemprop="email"
			    ) {{ settings.email }}
			li.contactsItem(
				itemscope,
	      		itemtype="https://schema.org/ContactPoint"
			)
				span.contactsItem__label.visible-hidden-xs Телефон:&thinsp;
				a.contactsItem__refer(
			        href="tel:{{ settings.email }}",
			        itemprop="telephone"
			    ) {{ settings.phone }}
		button.callback.child.parent.centered
			.imageContainer.imageContainer_callback
				figure.imageContainer__image.imageContainer__image_callback
			.callbackFormWrapper
				h2.callback__title Обратный вызов
				form#callbackForm.callbackForm(method="post")
					| {% csrf_token %}
					| {% for field in callback %}
					.controller
					| {{ field.label_tag }}
					.imageContainer.imageContainer_
						figure.imageContainer__image.imageContainer__image_
					| {{ field }}
					| {{ field.errors }}
					| {% endfor %}
		ul#bottomNavigation.bottomNavigation.child.parent
			li.bottomNavigationItem.child.parent(
			   role="presentation",
					class="{% if active_page == 'home' %}bottomNavigationItem_active{% endif %}"
			)
				a.bottomNavigationItem__refer(
					href="{% url 'index' %}",
					class="{% if active_page == 'home' %}bottomNavigationItem__refer_active{% endif %}"
				) Главная
			li.bottomNavigationItem.child.parent(
			   role="presentation",
					class="{% if active_page == 'business' %}bottomNavigationItem_active{% endif %}"
			)
				a.bottomNavigationItem__refer(
					href="{% url 'business' %}",
					class="{% if active_page == 'business' %}bottomNavigationItem__refer_active{% endif %}"
				) Структура бизнеса
			li.bottomNavigationItem.child.parent(
			   role="presentation",
					class="{% if active_page == 'shares' %}bottomNavigationItem_active{% endif %}"
			)
				a.bottomNavigationItem__refer(
					href="{% url 'shares' %}",
					class="{% if active_page == 'shares' %}bottomNavigationItem__refer_active{% endif %}"
				) Акции
			li.bottomNavigationItem.child.parent(
			  role="presentation",
					class="{% if active_page == 'media' %}bottomNavigationItem_active{% endif %}"
			)
				a.bottomNavigationItem__refer(
					href="{% url 'media' %}",
					class="{% if active_page == 'media' %}bottomNavigationItem__refer_active{% endif %}"
				) Медиа контент
		button.popupContacts.child.parent.centered
			.imageContainer.imageContainer_contacts
				figure.imageContainer__image.imageContainer__image_contacts
			address.contactsDescription
				ul.popupContactsList
					li.contactsItem(
						itemscope,
				    	itemtype="https://schema.org/ContactPoint"
					)
						span.contactsItem__label Email:&thinsp;
						a.contactsItem__refer(
					        href="mailto:{{ settings.email }}",
					        itemprop="email"
					    ) {{ settings.email }}
					li.contactsItem(
						itemscope,
			      		itemtype="https://schema.org/ContactPoint"
					)
						span.contactsItem__label Телефон:&thinsp;
						a.contactsItem__refer(
					        href="tel:{{ settings.phone }}",
					        itemprop="telephone"
					    ) {{ settings.phone }}
					li.contactsItem(
						itemscope,
			      		itemtype="https://schema.org/ContactPoint"
					)
						span.contactsItem__label Адрес:&thinsp;
						a.contactsItem__refer(
					        href="{{ settings.addressHref }}", 
					        itemprop="streetAddress"
					    ) {{ settings.address }}
			  
	
