section.slider
  .fadeSlider
    | {% for slide in slider %}
    figure.img-responsive.fadeSlider__slide(
      style="background-image: url(/media/{{ slide.slide_1 }})"
    )
    figure.img-responsive.fadeSlider__slide(
      style="background-image: url(/media/{{ slide.slide_2 }})"
    )
    figure.img-responsive.fadeSlider__slide(
      style="background-image: url(/media/{{ slide.slide_3 }})"
    )
    figure.img-responsive.fadeSlider__slide(
      style="background-image: url(/media/{{ slide.slide_4 }})"
    )
    figure.img-responsive.fadeSlider__slide(
      style="background-image: url(/media/{{ slide.slide_5 }})"
    )
    | {% endfor %}