section.slider
    #slider
      img(
        src="img/slides/slide1.jpg",
        alt=""
      )
      img(
        src="img/slides/slide2.jpg",
        alt=""
      ) 
      img(
        src="img/slides/slide3.jpg",
        alt=""
      )
      img(
        src="img/slides/slide4.jpg",
        alt=""
      )
      img(
        src="img/slides/slide5.jpg",
        alt=""
      )